/* Remove default styles of the browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom variables */
:root {
  --h1: 40px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16px;

  --sub: 20px;

  --lable: 16px;
  --ls: 5px;

  --body: 14px;

  --font-1: "Crimson Text", serif;
  --font-2: "Work Sans", sans-serif;

  --color-dark-100: rgba(33, 37, 41, 1);
  --color-dark-75: rgba(33, 37, 41, 0.75);
  --color-dark-50: rgba(33, 37, 41, 0.5);
  --color-dark-25: rgba(33, 37, 41, 0.25);

  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-green-100: rgba(116, 198, 157, 1);
  --color-green-75: rgba(116, 198, 157, 0.75);
  --color-green-50: rgba(116, 198, 157, 0.5);
  --color-green-25: rgba(116, 198, 157, 0.25);
}

/* Buttons */
.white-btn,
.dark-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: var(--h5);
  font-family: var(--font-2);
  color: var(--color-dark-100);
  background-color: var(--color-white-100);
  padding: 10px 40px;
}

.dark-btn {
  color: var(--color-white-100);
  background-color: var(--color-dark-100);
}

/* Text colors */
.text-white {
  color: var(--color-white-100);
}

.text-dark {
  color: var(--color-dark-100);
}

.text-green {
  color: var(--color-green-100);
}

.label {
  font-family: var(--font-2);
  font-size: var(--lable);
  letter-spacing: var(--ls);
  text-transform: uppercase;
  font-weight: 700;
}

/* Hero section */
.hero {
  background-color: var(--color-green-100);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navbar__logo--text {
  font-size: var(--h2);
  font-family: var(--font-2);
  font-weight: 500;
  color: var(--color-white-100);
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: var(--h5);
  font-family: var(--font-2);
}

.navbar__icons {
  display: none;
}

.navbar__icons i {
  cursor: pointer;
  font-size: var(--h2);
  color: var(--color-white-100);
}

/* Expand rules for a shared class name */
[class^="navbar__menu--"] {
  color: var(--color-white-100);
  text-decoration: none;
}

/* Common classes */
.container {
  max-width: 1140px;
  margin: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 40px 0;
  gap: 25px;
}

.common-title {
  text-transform: capitalize;
  font-family: var(--font-1);
  font-size: var(--h1);
  font-weight: bold;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-center {
  text-align: center;
}

/* Breakpoints */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }

  .navbar__menu {
    background-color: var(--color-green-100);
    z-index: 1;
    position: absolute;
    top: 15vh;
    left: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar__menu--1 {
    margin-top: -200px;
  }

  .navbar__icons {
    display: block;
  }

  .hide {
    display: none;
  }

  .hidden {
    opacity: 0%;
    z-index: -1;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90%;
  }
}
